# ====== Odoo Helpdesk Variables ======
URL="https://hrm.mindx.edu.vn"
DB="mindx-crm"
USER_NAME="your-email"
API_KEY="your-odoo-api-key"

# ====== Microsoft Graph API Variables (for mail-cli) ======
USER_EMAIL_GROUP="your-email@mindx.edu.vn"
AZURE_CLIENT_ID_GROUP="your-azure-client-id"
AZURE_TENANT_ID_GROUP="your-azure-tenant-id"
