# ====== Microsoft Graph API Variables ======
USER_EMAIL_GROUP="quanda@mindx.com.vn"
AZURE_CLIENT_ID_GROUP=faf4f3c6-6a16-4e3a-8e0c-beea5ab99c33
AZURE_TENANT_ID_GROUP=440006a0-837f-41c5-964e-c54b650b1535
